@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

html, body {
	height: 100vh;
	width: 100vw;
}

header {
	width: 100%;
}

.header__logo {
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.header__logo {
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
}

.header__logoContent {
	width: 100%;
	padding: 16px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
		

.header__image {
	width: 8em;
}

.header__message {
	margin: 0 6px;
}

.header__stories {
	margin-top: 4em;
}

.header__profiles {
	width: 100%;
	height: auto;
	display: flex;
	flex-grow: 1;
	list-style: none;
	align-items: center;
	justify-content: flex-start;
	padding: 16px 0;
}

.header__profileBorder {
	width: 4.8em;
	height: 4.8em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.header__profileBorder--colored {
	background: linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%)
}

.header__profilePhoto {
	width: 4.3em;
	border-radius: 50%;
	border: 2px solid white;
}

.cards {
	display: flex;
	flex-direction: column;
	padding: 16px;
}

.cards__card {
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(0, 0, 0, .1);
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 10px;
}

.cards__cardHeaderLeft {
	display: flex;
	align-items: center;
}

.cards__cardHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cards__photoIcon {
	width: 2.5em;
	border-radius: 50%;
	margin: 0.5em;
}

.cards__name {
	font-size: 0.8em;
}

.cards__etc {
	font-size: 0.8em;
	margin-right: 1em;
}

.cards__profile {
	width: 100%;
	object-fit: cover;
}

.cards__icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cards__icon {
	font-size: 1.5em;
	margin: 14px;
}

.cards__likes {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.05);
	display: flex;
	align-items: center;
}

.cards__likeOne {
	width: 3em;
	border-radius: 50%;
	padding: 10px;
}

.cards__likeTotal {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.7em;
	color: #000;
}


@media(min-width: 730px) {

	.header__logoContent,
	.header__stories, 
	.cards__card {
		width: 728px;
		margin: 0 auto;
	}

	.header__stories {
		margin-top: 4em;
	}

	.cards__card {
		margin-bottom: 10px;
	}

	.header__logoContent{
		padding: 10px 0;
	}

	.header__profiles {
		padding: 16px 0;
	}
}

